<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>智淘-搜索中心</title>
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="css/search.css">
</head>
<body>
<div class="zt_container">
    <header class="zt_topBar">
        <a href="javascript:history.back();"><span class="fa fa-chevron-left"></span></a>
        <h3 class="nr">搜索中心</h3>
    </header>
    <section class="zt_wrapper">
        <!--搜索框-->
        <div class="zt_search">
            <input type="search" placeholder="根据商品关键字进行搜索">
            <a href="javascript:;">搜索</a>
        </div>
        <!--搜索历史记录-->
        <div class="zt_history">
           <!--TODO render-->
        </div>
    </section>
    <footer class="zt_tabs">
        <a href="index.html"><span class="fa fa-home"></span><p>首页</p></a>
        <a href="category.html"><span class="fa fa-bars"></span><p>分类</p></a>
        <a href="user/cart.html"><span class="fa fa-shopping-cart"></span><p>购物车</p></a>
        <a href="user/index.html"><span class="fa fa-user"></span><p>个人中心</p></a>
    </footer>
</div>
<script type="text/html" id="history">
    {{if rows.length}}
    <div class="tit">
        <span>搜索历史</span>
        <a class="clear" href="javascript:;"><span class="fa fa-trash"></span> 清空记录</a>
    </div>
    <ul>
        <% for(var i = rows.length-1; i >= 0 ; i--){ %>
        <li><a href="productList.html?proName=<%=euc(rows[i])%>"><%=rows[i]%></a> <span data-index="<%=i%>" class="fa fa-close"></span></li>
        <% } %>
    </ul>
    {{else}}
    <div class="tit">
        <span>您没有历史搜索记录</span>
    </div>
    {{/if}}
</script>
<script src="assets/mui/js/mui.min.js"></script>
<script src="assets/zepto/zepto.min.js"></script>
<script src="assets/artTemplate/template-web.js"></script>
<script src="js/mobile.js"></script>
<script src="js/search.js"></script>
</body>
</html>